td.slt-contact-table__email {
  word-break: break-all;
}

td.slt-contact-table__phones {
  word-break: break-all;
}

td.slt-contact-table__phones ul {
  margin: 0;
}

td.slt-contact-table__phones li {
  margin-left: 0;
  list-style: none;
}

/* Remove the edit label on small screen as it's redundant with the
 * edit link text. */
@media (max-width: 575px) {
  .cd-table--responsive td.slt-contact-table__edit:before {
    display: none;
  }
}
