//——————————————————————————————————————————————————————————————————————————————
// Common Design: Header
//——————————————————————————————————————————————————————————————————————————————
.cd-site-header__inner {
  @supports(display: grid) {
    grid-template-columns: 52px 1fr;

    @include tablet {
      grid-template-columns: 121px 1fr;
    }
  }
}


// Set widths of menu items, depending on content.

.cd-site-header__nav-holder nav > ul {
  > li,
  .cd-nav__item {
    @include desktop {
      max-width: 120px;
    }

    @include xlarge {
      max-width: 160px;
    }
  }
}
