//——————————————————————————————————————————————————————————————————————————————
// Common Design: User Menu
//
// Includes user-centered settings and/or actions.
//
//——————————————————————————————————————————————————————————————————————————————

.cd-user-menu__item {
  &:focus {
    outline: 3px solid $implementation-highlight;
  }
}

// No language switcher so hide the separator.
.cd-global-header .menu {
  li:last-child a,
  li:last-child button {
    padding-right: 0;

    &::after {
      content: none;
    }
  }
}

//——————————————————————————————————————————————————————————————————————————————
// Drupal selectors
//——————————————————————————————————————————————————————————————————————————————

.cd-global-header .menu > li a,
.cd-global-header .menu > li button {
  @extend .cd-user-menu__item;
}
