//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

.cd-site-logo {
  width: 52px;

  // Logo for mobile.
  // sass-lint:disable no-duplicate-properties
  @include max-width(md) {
    background: url('../img/logos/slt-compact.svg') center no-repeat;
  }

  @include tablet {
    // Width of the logo.
    width: 121px;
  }
}
