//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

.cd-site-logo {
  width: 52px;

  &:focus {
    outline: 3px solid $implementation-highlight;
  }

  // Logo for mobile.
  // sass-lint:disable no-duplicate-properties
  @include max-width(md) {
    background: url('../../../../../contrib/common_design/img/logos/slt-mobile-logo.png') center no-repeat;
    // @todo change to SVG logo when available.
    background: linear-gradient(transparent, transparent), url('../../../../../contrib/common_design/img/logos/slt-mobile-logo.png') center no-repeat;
  }

  @include tablet {
    // Width of the logo.
    width: 121px;
  }
}
