/* Better formatting of contact pages. */
.node--type-contact .field__label {
  font-weight: bold;
}
.node--type-contact .field--label-above + .field--label-above {
  margin-top: 1rem;
}

/* Align the form elements in the contacts page. */
[data-drupal-selector="views-exposed-form-contacts-page-contacts"] .form-item-country {
  align-items: center;
}
[data-drupal-selector="views-exposed-form-contacts-page-contacts"] .form-item-country label {
  margin-top: 0;
}

/* Remove the rules below once the issues are fixed in the CD base theme. */
/* CD-450. */
.cd-content--spacious ul.tabs > li + li {
  margin-top: 0;
}
