.cd-site-logo {
  width: var(--brand-logo-mobile-width);
}

@media (max-width: 767px) {
  .cd-site-logo {
    background: url(../../../img/logos/slt-compact.svg) center no-repeat;
  }
}

@media (min-width: 768px) {
  .cd-site-logo {
    width: var(--brand-logo-desktop-width);
  }
}
