/*------------------------------------------------------------------------------
 * Forms
 *----------------------------------------------------------------------------*/

/* Prevent overflow due to size attribute. */
.field--name-title .form-text {
  width: 100%;
}
/* Ensure the autocomplete suggestions appear above the rest. */
.ui-widget.ui-autocomplete {
  z-index: 10000;
}

/*------------------------------------------------------------------------------
 * Styling of the SLT contact import form.
 *----------------------------------------------------------------------------*/

.slt-contacts-import-contacts-form .seven-details__wrapper {
  max-height: 400px;
  overflow-y: auto;
}
.slt-contacts-import-contacts-form .seven-details__wrapper table th {
  position: sticky;
  top: 0;
}

/*------------------------------------------------------------------------------
 * Styling of the tabs navigation when collapsed (ex: /admin/content)
 *----------------------------------------------------------------------------*/

/* Fix an issue where the hidden tabs are displayed due to a missing overflow
 * rule in core/themes/seven/css/compoenents/tabs.css line 153. */
.is-collapse-enabled .tabs {
  overflow: hidden;
}
