.layout--image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.layout--image-grid-four-columns .layout__region {
  min-width: 250px;
  max-width: 25%;
  padding: 1rem;
}
.layout--image-grid-five-columns .layout__region {
  min-width: 280px;
  max-width: 20%;
  padding: 1rem;
}
