.layout--grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.layout--image-grid-four-columns .layout__region {
  min-width: 250px;
  max-width: calc(25% - 2rem);
  margin: 1rem;
}
.layout--image-grid-five-columns .layout__region {
  min-width: 180px;
  max-width: calc(20% - 2rem);
  margin: 1rem;
}
